body, html{
    height: 100%;
    width: 100%;
  }
  .carousel {
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #cdcdcd;
    
  }
  .carousel .carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
  }